html, body, p, div, ul, ol, li, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* 全局版心 */
.container {
  width: 385px;
  margin: 0 auto;
}